{% extends "base.html" %}

{% block main %}


    <header>
        <h2>Mundo das Fofocas</h2>
    </header>
    <article>
        <h1>Saiba as melhores fofocas do mundo dos Famosos</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum non mattis ex, in suscipit elit. Fusce a diam velit. Aliquam vestibulum sem nibh, sed condimentum turpis aliquet ac.
            Etiam ac aliquam lacus, sit amet faucibus magna. Nam vitae justo dignissim, accumsan velit ac, elementum enim. Ut sed rhoncus sem, eget semper arcu.
            Donec convallis, nisl vel fringilla facilisis, purus nulla aliquet urna, sit amet convallis augue lectus non felis. Nunc sit amet sem vel metus tincidunt mollis et eget erat. Sed consectetur mi sed lorem varius laoreet.
            Phasellus ac sapien diam. Pellentesque in urna a ligula egestas accumsan suscipit ut lacus. Aliquam in sem accumsan, malesuada nibh in, laoreet nisl. Praesent vitae accumsan urna.
            Sed accumsan nunc laoreet sapien varius interdum. Praesent ornare consequat ipsum eget congue. Etiam commodo condimentum imperdiet. Donec at maximus urna. Fusce volutpat pellentesque accumsan.
        </p>
    </article>


{% endblock %}